/* Al poner box-sizing con la pripiedad border-box, le indicamos que
con la altura y ancho que le especifiquemos no se agrande dependiendo
del borde y padding que le agreguemos.
Por default tiene content box y con eso si especificamos un height o ancho
a un elemento y tambien agregamos relleno y borde, entonces el elemento
crecera mas de lo que le especificamos.
Por eso en ocasiones es mejor el valor de border-box para la propiedad */
* {box-sizing: border-box;margin:0; padding: 0;}
body{font-size: 12pt;font-family: sans-serif;position:relative;background-color: #f1f3f8!important;}/* cambia la fuente */
body#login{/*este es el fondo si no es admin: background-color: #f5f5f5;*/background-color: #32424a!important; font-size: 12pt;font-family: sans-serif;position:relative;}/* cambia la fuente */

/* NAVBAR */
/* header{background-color: #8675a9;} 
    header nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 70%;
    margin: 0 auto;
    padding: 0 50px;
}
header nav div ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
header nav div ul li a {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
}
header nav div ul li
header nav div ul{list-style-type: none;}
header nav div h2 {color: #fff;} /* Este se va a eliminar cuando cambies a foto el logo 
header nav div ul li a {text-decoration: none; color: #fff;} */

/* MENU */
.user-options {
    width: 9%;
}
.user-options a {
    color: #707071;
    text-decoration: none;
}
section {
    width: 80%;
    margin: 3% auto 0 auto;
}
/* CONTENIDO PRINCIPAL */
main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: red; */
}

/* FOOTER */
footer{
    background-color: #32424a;
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {color:#fff;}

/* LOGIN */
main article {width: 40%;}
main article form {
    background-color: #fff;
    padding: 50px 30px;
    margin: 80px auto 0 auto;
    width: 70%;
    -webkit-animation: show_form 1s ease-in;
	animation: show_form 1s ease-in;
  -webkit-transition: all 1.1s 0.4s ease-in;
		transition: all 0.4s 0.4s ease-in;
}
@keyframes show_form {
    0% {margin-top: 50px;}
    100% {margin-top: 80px;}
}
@-webkit-keyframes show_form {
    0% {margin-top: 50px;}
    100% {margin-top: 80px;}
}
main article form.hide{
    -webkit-animation: hide_form 1s ease-out;
	animation: hide_form 1s ease-out;
  -webkit-transition: all 1.1s 0.4s ease-out;
		transition: all 1.1s 0.4s ease-out;
}
@keyframes hide_form {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes hide_form {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
main article form #img-logo {
    background-color: #01ecd5;
    height: 100px;
    text-align: center;
    border-radius: 100%;
    width: 100px;
    margin: 0 auto 30px auto;
    /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Code.svg/1200px-Code.svg.png); */
}
main article form #img-logo img {height: 100%;width: 100%;}
main article form .input-icon {
    display: flex;
    align-items: center;
    height: 45px;
    margin: 5px 0 20px 0;
    background-color: #f0f0f0;
    border-radius: 3px;
}
main article form .input-icon #user-icon,
main article form .input-icon #unlock-icon {
    display: block;
    width: 15%;
    /* border: 2px solid #e4e4e4; */
    height: 100%;
    padding: 14px 0;
    /* background-color: #fff; */
    /* color: #1961e6; */
    color: #32424a;
}
main article form input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    border: 2px solid transparent;
    background-color: #f0f0f0;
    border-radius: 3px;
}
main article form input:focus {
    /* outline-color: hsl(219 100% 70% / 1); */
    outline-color: #e4e4e4;
    outline-style: none;
    border: 2px solid transparent;
}
main article form button#btn-login {
    background-color: #4586ff;
    border: none;
    padding: 10px 30px;
    color: #ffffff;
    font-size: 1rem;
    margin: 30px 0 0 0;
    width: 100%;
    display: block;
    transition: all .2s;
}
main article form button#btn-login:hover{
    cursor: pointer;
    background-color: #528eff;
}
main article form button#btn-login:focus{
    background-color:#337aff;
    outline: none;
}
/* NOTIFICATIONS */
body #formulario_ingreso #notification_fail {
    height: auto;
    /* position: absolute; */
    width: 100%;
    border-radius: 4px;
    display: none;
    background-color: #f7d4d4;
    border: 1px solid #efa9a9;
    color: #db3d3d;
    text-align: center;
    padding: 10px 5px;
}
main article #redirecting{
    /* background-color: red; */
    text-align: center;
    padding: 20px;
    position: relative;
    top: 100%;
    display: none;
}
main article #redirecting p{
    font-size: 1.8rem;
    color:white;
    margin-bottom: 50px;

}

/* -------------------- DASHBOARD -------------------- */
#main {
    margin:0 auto;
    width: 70%;
}
#main article {
    padding: 50px 0;
}
#main #profile {
    padding: 50px 0;
    display: flex;
    align-items: center;
}
#main #profile img,
#main #profile h1 {
    display: inline-block;
}
#main #profile img {
    width: 100px;
}
#main #profile h1{
    font-size: 2.2rem;
    /* padding: 5px 0; */
    margin-left: 20px;
}
#main #products h2 {
    text-align: center;
}
#main #products .carousel-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#main #products .carousel-productos .card {
    width: 23%!important;
    margin: 0 1% 3% 1%;
    overflow: hidden;
}

#successData, #successDataModal, #failData{display: none;}
#successDelete {
  position: fixed;
  bottom: 5%;
  width: 30%;
  right: 0;
  height: 100px;
  z-index: 1;
}
form .box-image{
  background: #eaeaea;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 40px auto;
}
form .box-image:hover::after{
  content: '';
  background: rgb(0 0 0 / 20%);
  width: 100%;
  height: 100%;
  position: absolute;
}
form #file{display: none;}
table thead th {
    padding: 10px 0;
}
table.table td[colspan="11"]{
    padding: 0 !important;
}
a.expand {
    cursor:pointer;
}
table.table td#noCoincidencias {
    padding: 20px!important;
}
table {background-color: #fff;}
.table-expandible {
    height: 0;
    overflow: hidden;
    transition: all .4s;
}
.table-expandible.visibleTr{
    height: auto;
    overflow: visible;
    padding: 20px 0;
}
tr td div table {
    width: 30%!important;
    margin: 20px auto 20px auto;
}

/* NUEVA VENTA STYLES */
.modal-dialog {
    max-width: 30%!important;
}
.modal-body form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.modal-body form div:first-child {
    width: 70%;
}
.modal-body form div:last-child {
    width: 30%;
}
.modal-body form div p[for="inputFolio"] {
    display: block;
    text-align: right;
}
.modal-body form #confirmFolio {
    width: 50%;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #bfbfbf;
    display: block;
    margin-left: auto;
}
#pay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 6% 0;
}
#pay p {
    font-weight: 500;
    font-size: 1.2rem;
}
#TotalSale {
    color: #7d7d7d;
    display: block;
    font-size: 2.5rem;
    text-align: center;
    user-select: none;
}
#payClient-box {
    margin-top: 40%;
}
#payClient-box span {
    color: #7d7d7d;
    font-size: 2.5rem;
}
input#user_pay,
input#user_abono{
    border-bottom: 3px solid #ced4da;
    border-left: none;
    border-right: none;
    border-top: none;
    color: #7d7d7d;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 auto;
    outline: none;
    padding: 5px 10px;
    text-align: center;
    width: 90%;
}

.container, #newSaleForm {
    margin-top: 3%;
}

#newSaleForm div.box,
#newProductForm div.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}
#newClientForm div.box-content,
#newProviderForm div.box-content {
    background-color:white;
    padding: 20px 40px;
    margin-top: 20px;
}
#newClientForm div.box-content #sendClient {
    display: inline;
    width: 10%;
    margin-left: auto;
}
#newSaleForm div.box div.box-content:nth-child(1),
#newSaleForm div.box div.box-content:nth-child(3){
    width: 20%;
}
#newSaleForm div.box div.box-content:nth-child(3){
    padding: 0;
}
#newSaleForm div.box div.box-content:nth-child(2){
    width: 58%;
    margin: 0 auto;
}
#newProductForm div.box div.box-content:nth-child(1){
    width: 30%;
}
#newProductForm div.box div.box-content:nth-child(2){
    width: 68%;
    margin-left: 2%;
    padding: 30px 50px;
}
#newSaleForm div.box div.box-content,
#newProductForm div.box div.box-content {
    padding: 20px;
    background-color: white;
    border:1px solid #cfcfcf;
    box-shadow: 0px 12px 15px -5px #cfcfcf;
    border-radius: 4px;
}
.folio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10%;
}
.folio p {
    margin: 0;
}
.folio input{
    padding: 5px 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #cfcfcf;
    width: 30%;
    text-align: right;
}
.form-select:focus,
.select_product_configuration div:nth-child(2) input[type="number"]:focus {
    box-shadow: none!important;
    border-color: #cfcfcf!important;
    outline:none!important;
}
.clientes .form-select{
    margin-bottom: 5%;
}
.select_product_configuration {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 5%;
}
.select_product_configuration div:nth-child(1){
    width: 69%;
}
.select_product_configuration div:nth-child(2){
    width: 19%;
}
.select_product_configuration div:nth-child(3){
    width: 10%;
}
#subtotal-box {
    background-color: #16c79a;
    color: white;
    padding: 10px 20px;
    margin: 0;
}
#subtotal-box ~ div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 116px);
}
#subtotal-box ~ div #sale_type {
    margin-bottom: 20px;
}
#subtotal-box ~ div #sale_type p {margin: 0;}
#subtotal-box span {
    font-size: 3rem;
    display: block;
    text-align: center;
}
.float-left {float: right;}
#creditoClient-box,
#descuentoClient-box,
#newCreditoClient-box {display: none;}
#creditoClient-box.active,
#descuentoClient-box.active,
#newCreditoClient-box.active {display: block;}

#InfoDataPay,#successDataPay,#failDataPay,#failGeneral,#failDataImage,#failDataName,#failDataProviderPrice,#failDataProvider,#failDataStorePrice,#failDataQuantity,#failDataName,#failDataEmail,#failDataPhone,#failDataLimit,#failDataDays,#failDataReferencia,#failDataInputTag,#failDataInputStreet,#failDataInputSuburb,#failDataProvider,#failDataInputPostalCode,#failDataInputPhone,#failDataInputType,#failDataInputComercialName,#failDatainputRfc,#failDataConcepto,#failDataClientPay, #failDataMetodo{display: none;}
#InfoDataPay.active,#successDataPay.active,#failDataPay.active,#failGeneral.active,#failDataImage.active,#failDataName.active,#failDataProviderPrice.active,#failDataProvider.active,#failDataStorePrice.active,#failDataQuantity.active,#failDataName.active,#failDataEmail.active,#failDataPhone.active,#failDataLimit.active,#failDataDays.active,#failDataReferencia.active,#failDataInputTag.active,#failDataInputStreet.active,#failDataInputSuburb.active,#failDataProvider.active,#failDataInputPostalCode.active,#failDataInputPhone.active,#failDataInputType.active,#failDataInputComercialName.active,#failDatainputRfc.active,#failDataConcepto.active,#failDataClientPay.active,#failDataMetodo.active{display: block;}

#filtroFolio{
    /* width: 40%; */
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}
#filtroTipo,#filtroStatus {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
}
#filtroCliente, #filtrofecha{
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
}
#filtroFolio:focus,#filtroTipo:focus,#filtroCliente:focus,#filtrofecha:focus,#filtroStatus:focus {
    outline:0;
}
table thead.table-dark tr {
    vertical-align: baseline;
}
.estatus {margin-top: 40%;}
td.deleteProduct{display: block;}
#table-sales-info{margin-top: 5%;}
.buttons {
    width: 10%;
    margin-left: auto;
}
.buttons a {
    display: block;
    padding: 10px;
}
.card-body {
    border-top: 1px solid rgb(51 51 51 / 22%);
    padding: 1rem 1rem 0 1rem!important;
}
.card-body h5 {
    text-align: right;
    text-transform: capitalize;
}
.card img {
    height: 250px;
}
.card span.status_info {
    width: 60%;
    position: absolute;
    padding: 5px 10px;
    top: 8%;
    right: -10%;
    font-size: 1.1rem;
    transform: rotateZ(40deg);
    font-weight: 500;
    text-align: center;
}
.info_price_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
.info_price_name span {
    font-size: 1.4rem;
    font-weight: 600;
}
.card-body .action-buttons {
    margin: 0 -15px;
    display: flex;
}
.card-body .action-buttons a {
    border-radius: 0;
    width: 50%;
}
.cant_info {
    text-align: right;
    padding: 10px 0;
}
#options_view {
    display: inline-flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    margin-top:2%;
    width: 100%;
}
#options_view #types_of_view a.list_items {
    text-decoration: none;
    color: #b2b2b2;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    margin: 0 5px;
    cursor:pointer;
}

#vista_tarjetas,
#vista_list {
    opacity: 0;
    display:none!important;
    transition: all .4s;
}
#vista_tarjetas.active{
    opacity: 1;
    display: flex!important;
}
#vista_list.active {
    opacity: 1;
    display: block!important;
}
#vista_list table td img {
    width: 50px;
    height: auto;
}
#vista_list table tbody tr{
    vertical-align: baseline;
}
.form-group {
    margin-bottom: 20px;
}
#imageProductDelet{
    width: 60%!important;
    margin: 0 auto;
    display: block;
}
#nameProductDelete{
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
}
#nameClientDelete,
#nameProviderDelete {
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
}
.dataClient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.obligated_camps {
    font-weight: 500;
    text-align: right;
}
#debtors_table td[colspan="7"] {
    padding: 0 !important;
}
.dataClientPayments {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}
.dataClientPayments span {
    font-size: 2.5rem;
    font-weight: 300;
}
#abonoClient-box {
    margin: 10% 0px 0 0;
}
a#senDataPayment {
    margin: 20px 0 0 0;
    display: block;
    width: 20%;
    margin-left: auto;
}